<!-- src/app/login/login.component.html -->
<div class="container col-12 mw-90 bg-black d-flex align-items-center vh-100 w-80">
    <div class="col-lg-4 col-sm-12 h-50 px-5 d-flex flex-column align-items-center bg-transparent">
      <h2 class="text-white px-0 mb-24 width-fit-content">Forgot Password</h2>
      <form class="col-12" [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit()">
        <div class="row d-flex mb-4 pointer">
          <label class="mx-auto width-fit-content text-white p-0" for="email">Enter Email Address</label>
          <input
            class="form-group sm-text-10 bg-transparent h-40 border-rounded-sm border border-white px-4 py-2 text-secondary"
            type="email" id="email" formControlName="email" required placeholder="Enter your email" />
        </div>
  
        <div class="row d-flex">
          <button class="text-white btn btn-danger btn-xl mb-4" type="submit">Send</button>
        </div>
  
        <div class="selection col d-flex justify-content-around align-items-center mb-4">
          <span class="white-line secondary"></span>
          <span class="text-secondary width-fit-content">OR</span>
          <span class="white-line secondary"> </span>
        </div>
  
  
        <div class="row d-flex">
          <button routerLink="/login" class="text-white btn btn-danger btn-xl mb-4" type="submit">Login</button>
        </div>
  
        <div class="row d-flex">
          <button class="text-white btn btn-danger" type="submit">SignUp With GOogle</button>
        </div>
  
      </form>
    </div>
  </div>