<!-- src/app/login/login.component.html -->
<div class="container bg-black">
  <div class="row col-6 px-2" style="background-color: blue;">
    <h2 class="text-white">Login</h2>
    <form class="no-gutter" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row d-flex">
        <label class="text-white p-0" for="email">Email</label>
        <input class="formGroup col-3" type="email" id="email" formControlName="email" required />
      </div>
      <div class="row d-flex">
        <label class="text-white p-0" for="password">Password</label>
        <input class="formGroup col-3" type="password" id="password" formControlName="password" required />
      </div>
      <button class="text-white" type="submit">Login</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p class="text-white">Don't have an account? <a routerLink="/signup">Sign Up</a></p>
  </div>
</div>